<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.callor.mind.dao.ext.WarningDao">
 
 	<select id="selectAll" resultType="WarningVO">
 		SELECT * FROM tbl_warning
 		ORDER BY wa_date
 	</select>
 	
 	<select id="findById" resultType="WarningVO">
 		SELECT * FROM tbl_warning
 		WHERE wa_seq = #{wa_seq}
 	</select>
 	
 	 <!-- 0716 글번호, 사용자 닉네임, 글내용,날짜로 검색하기 -->
 	<select id="findByWrite" resultType="WarningVO" parameterType="String">
		SELECT * FROM tbl_warning
 		WHERE wa_writing = #{search}
	</select>
	
	<select id="findByUserSeq" resultType="WarningVO" parameterType="String">
		SELECT * FROM tbl_warning
		WHERE wa_user = #{search}
	</select>

	<select id="findByContent" resultType="WarningVO" parameterType="String">
		SELECT * FROM tbl_warning
		WHERE wa_content LIKE CONCAT('%', #{search}, '%')
	</select>
	
	<select id="findByDate" resultType="WarningVO" parameterType="String">
		SELECT * FROM tbl_warning
		WHERE wa_date BETWEEN #{stDate} AND #{edDate}
	</select>
	<!-- 0716 추가 끝 -->
 	
	
 	<insert id="insert" parameterType="WarningVO">
 		INSERT INTO tbl_warning
 			( wa_writing, wa_user, wa_content, wa_reporter )
 		VALUES
 			(#{wa_writing}, #{wa_user}, #{wa_content}, #{wa_reporter})
 	
 	</insert>
 	
 	<update id="updateCheck" parameterType="WarningVO">
 		UPDATE tbl_warning
 		SET wa_check = #{wa_check}
 		WHERE wa_seq = #{wa_seq}
 	</update>
 	
 	<update id="update"></update>
 	
 	<delete id="delete">
 		DELETE FROM tbl_warning
 		WHERE wa_seq = #{wa_seq}
 	</delete>
 
 </mapper> 