<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.callor.mind.dao.ext.WarningDao">
 
	
 	<select id="selectAll" resultType="LikeVO">
 		SELECT * FROM tbl_like
 	</select>
 	
 	<select id="findById" >	</select>
 	
 	<select id="check_like" resultType= "int" parameterType="LikeVO">
 		SELECT count(*) FROM tbl_like
 		WHERE li_wr_seq = #{li_wr_seq} AND li_fan = #{li_fan}
 	</select>
 	
	
 	<insert id="insert" parameterType="LikeVO">
 		INSERT INTO tbl_like
 			( li_wr_seq, li_fan )
 		VALUES
 			(#{li_wr_seq}, #{li_fan})
 	</insert>
 	
 	<update id="update"></update>
 	
 	<delete id="delete">
 		DELETE FROM tbl_like
 		WHERE li_wr_seq = #{li_wr_seq} and li_fan = #{li_fan}
 	</delete>
 
 </mapper> 