<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.callor.mind.dao.ext.WarningDao">
 
	
 	<select id="selectAll" resultType="WarningVO">
 		SELECT * FROM tbl_warning
 	</select>
 	
 	<select id="findById" resultType="WarningVO">
 		SELECT * FROM tbl_warning
 		WHERE wa_seq = #{wa_seq}
 	</select>
 	
	
 	<insert id="insert" parameterType="WarningVO">
 		INSERT INTO tbl_warning
 			( wa_writing, wa_user, wa_content, wa_reporter )
 		VALUES
 			(#{wa_writing}, #{wa_user}, #{wa_content}, #{wa_reporter})
 	
 	</insert>
 	
 	<update id="updateCheck" parameterType="WarningVO">
 		UPDATE tlb_warning
 		SET wa_check = #{wa_check}
 		WHERE wa_seq = #{wa_seq}
 	</update>
 	
 	
 	
 	
 	<update id="update"></update>
 	
 	<delete id="delete">
 	</delete>
 
 </mapper> 