<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.callor.mind.dao.ext.WritingDao">
 
 	<select id="selectAll" resultType="WritingVO">
 		SELECT * FROM tbl_writing
 		ORDER BY wr_seq DESC
 	</select>
 	<select id="findById" resultType="WritingVO">
 		SELECT wr_like_count FROM tbl_writing
 		WHERE wr_seq = #{wr_seq}
 	</select>
 	
 	<select id="selectByRandom" resultType="WritingVO">
 		SELECT * FROM tbl_writing 
		ORDER BY RAND() LIMIT 1
 	</select>

	<select id="selectOrderByLike" resultType="WritingVO">
		SELECT * FROM tbl_writing
		ORDER BY wr_like_count DESC; 
	
	</select>
	
	<select id="selectByUserLike" resultType="WritingVO" parameterType="LONG">
		SELECT * 
		FROM tbl_writing
			LEFT JOIN tbl_like
				ON wr_seq = li_wr_seq
			LEFT JOIN tbl_user
				ON u_seq = li_fan
		WHERE u_seq = #{u_seq}
		ORDER BY wr_last_date DESC
	</select>
	
	<select id="selectMyWriting" resultType="WritingVO" parameterType="LONG">
		SELECT * FROM tbl_writing
		WHERE wr_user = #{u_seq}
		ORDER BY wr_last_date DESC
	</select>


 	<insert id="insert" parameterType="WritingVO">
 		INSERT INTO tbl_writing
 			(wr_user,wr_nick,wr_content,wr_origin)
 		VALUES
 			(#{wr_user},#{wr_nick},#{wr_content},#{wr_origin})
 	</insert>
 	
 	<update id="likeCountUp" parameterType="Long">
 		UPDATE tbl_writing 
		SET wr_like_count = wr_like_count + 1
		WHERE wr_seq = #{wr_seq};
 	</update>
 	
 	<update id="likeCountDown" parameterType="Long">
 		UPDATE tbl_writing
		SET wr_like_count = wr_like_count - 1
		WHERE wr_seq = #{wr_seq};
 	</update>
 	
 	
 	
 	
 	<update id="update"></update>
 	<delete id="delete"></delete>
 
 
 </mapper> 