@charset "UTF-8";
@import url("basic.css");


/*0715 배경수정*/
body {
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;

	overflow: hidden;
}


div#background1 img{
	min-height : 100%;
	min-width : 1024px;
	width : 100%;
	height : auto;
	position : fixed;
	top: 0;
	left: 0;
}
/*0715 배경수정 끝*/


.main_bubble {
	width: 750px;
	height: 600px;
	margin: 2.5% auto;
	transition: all 1s;
	background: url("../bubbleAndperson.png") no-repeat;
	background-size: 100%;
}

.bubble_box {
	font-family: "cafe24sa";
	width: 100%;
	height: 45%;
	align-content: center;
	padding: 4%;
	position: relative;
}

.p1 {
	color: #3f6d84;
	font-size: 20px;
	text-align: center;
	margin: 0 auto;
	height: 10%;
}

.p2 {
	color: black;
	font-size: 30px;
	text-align: center;
	width: 75%;
	margin: 2.5% auto;
	line-height: 150%;
	word-break: keep-all;
	height: 75%;
	overflow: auto;
}

.p3 {
	color: black;
	font-size: 20px;
	text-align: center;
	margin: 2.5% auto;
	height: 12%;
}

#body_size_box {
	width: 100vw;
	height: 85vh;
	perspective: 1500px;
	background: rgba(0, 0, 0, 0);
}

.main_bubble.active {
	transform: translateZ(-500px);
}

.main_bubble.active2 {
	transform: translateZ(-1500px) scale(0);
	transform-origin: 50% 0%;
}

.main_bubble.active3 {
	transform: translateZ(-500px);
	animation: move 1s forwards;
}

div.main_modal {
	width: 100%;
	height: 100vh;
	background-color: black;
	opacity: 0.8;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 0;
}


.siren {
	width: 13%;
	position: absolute;
	left: 10%;
	top: 13%;
	user-select: none;
	cursor: pointer;
}

.siren img {
	width: 30%;
}

h3#siren_title {
	border-bottom: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
	color: #3f6d84;
}

/* 	0714 신고창 관련된 모든 css 수정 */
div.siren_box {
	width: 300px;
	height: auto;
	background-color: #fff;
	border-radius: 5px;
	position: absolute;
	left: 30%;
	top: 10%;
	transform: translateX(-50%);
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
	visibility: hidden;
	line-height: 2.5rem;
	margin: 10px;
	padding: 10px;
	z-index: 1000;
}

.siren_box div {
	padding: 3px;
	width: 100%;
}

.siren_box form {
	width: 100%;
	font-size: 15px;
}



#siren_box button {
	display: inline-block;
	margin: 3px;
	padding: 10px 5px;
	margin-left: auto;
	background-color: white;
	color: #3f6d84;
	border: 1px solid #3f6d84;
	cursor: pointer;
}

#siren_box button:hover {
	background-color: #3f6d84;
	opacity: 0.8;
	color: white;
}

.siren_box.visible {
	visibility: visible;
	animation: unfoldIn 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.heart-box {
	width: auto;
	height: auto;
	position: absolute;
	left: 45%;
	transform: translate(-50%, -50%);
	text-align: center;
	margin: 2.5% auto;
	font-size: 18px;
}

/*0715 하트모양 변경*/
.heart-box span#like_it {
	cursor: pointer;
	font-size: 20px;
}
.heart-box span#like_it span#h_black{
	color: black;
}
.heart-box span#like_it span#h_red{
	color: red;
}

.heart-box p {
	display: inline-block;
}

/*0715 배경수정*/
@media screen and (max-width: 1024px) { 
 div#background1 img { 
 	left: 50%; 
 	margin-left: -512px;
 	} 
}



@keyframes unfoldIn { 
0% { transform: scaleX(0) scaleY(0.005);}

50% { transform : scaleX(1) scaleY(0.005);}

100% { transform : scaleY(1) scaleX(1);}
}


@keyframes move { 
100% {transform: translateZ(0px);}
}