@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@font-face {
	src: url("../font/Cafe24SsurroundAir.ttf");
	font-family: "cafe24sa";
}
@font-face {
	src: url("../font/Cafe24Ssurround.ttf");
	font-family: "cafe24s";
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	width: 100vw;
	height: 100vh;
	user-select: none;
	font-family: 'Noto Sans KR', sans-serif;
}